<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="keywords"
          content="BioimageVision, deep learning, computer vision, image processing, medical image analysis, optimization, biomedical,  biomedical image processing, image recognition, image segmentation, medical image analysis,深度学习、计算机视觉、图像处理、医学图像分析,优化,生物图像处理, 图像识别, 图像分割,医学影像分析">
    <meta name="description"
          content="旨在持续开展人工智能前沿研究，打造更具拓展性更普惠的人工智能软件平台，服务于生物科学研究及医学检测。">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo/gtree_logo.png') }}">
    <!-- Favicons -->


    <!-- Google Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css2-OpenSansitalwght.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css2-Comfortaawght700_swap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css2-Poppinswght300400_swap.css') }}">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>


</head>

<body>
<!-- ======= Preloader ======= -->
<div id="preloader"></div>

<!-- ======= Header ======= -->
<header id="header" class="single-page-header header d-flex align-items-center">
    <div class="container container-xl d-flex align-items-center justify-content-between">
        <a href="{{ url_for('home.index') }}" class="logo d-flex align-items-center">
            <h1><i><span>Bioimage</span>望飞宇<span>.</span></i></h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{ url_for('home.profile') }}">{{ _("简介") }}</a></li>
                <li><a href="{{ url_for('home.services') }}">{{ _("服务") }}</a></li>
                <li class="dropdown"><a href="javascript:void(0);"><span>{{ _("产品介绍") }}</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="{{ url_for('analytics.index') }}">{{ _("大数据格式") }}</a></li>
                        <li><a href="{{ url_for('analytics.biomedical') }}">{{ _("生物与医学图像处理工具") }}</a></li>
                    </ul>
                </li>
                <li><a href="http://sincostan.tech/manual/" target="_blank">{{ _("使用手册") }}</a></li>
                <li class="dropdown"><a href="javascript:void(0);"><span>{{ _("联系我们") }}</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        {#                        <li><a href="login.html">{{ _("登录") }}</a></li>#}
                        {#                        <li><a href="{{ url_for('auth.register') }}">{{ _("注册") }}</a></li>#}
                        <li><a href="{{ url_for('contact.index') }}">{{ _("合作咨询") }}</a></li>
                        <li><a href="{{ url_for('faq.index') }}">{{ _("问题反馈") }}</a></li>
                        {#                        <li><a href="{{ url_for('contact.index') }}">{{ _("帮助中心") }}</a></li>#}
                        <li><a href="team.html">{{ _("团队") }}</a></li>
                        <li><a href="coming-soon.html">{{ _("未来发展") }}</a></li>
                        {#                        <li><a href="biomedical.html">{{ _("博客") }}</a></li>#}
                        {#                        <li><a href="blogs-details.html">{{ _("博客详情") }}</a></li>#}
                        <li><a href="terms.html">{{ _("用户条款") }}</a></li>
                        <li><a href="{{ url_for('auth.privacy_policy') }}">{{ _("隐私政策") }}</a></li>
                        {#                        <li><a href="sample.html">{{ _("样本") }}</a></li>#}
                    </ul>
                </li>
                <li><a href="{{ url_for('contact.index') }}">{{ _("消息中心") }}</a></li>
                <li>
                    <div class="d-flex">
                        <span><a href="/" class="chinese-link">简</a></span>
                        <span style="color: #fff ;display: flex;align-items: center;">|</span>
                        <span><a href="/?lang=en" class="english-link">English</a></span>
                    </div>
                </li>
                {% if user %}
                    <li class="dropdown"><a href="#"><img class="logo-personal"
                                                          src="{{ url_for('static', filename='image/personal.png') }}"
                                                          alt="user">
                        <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="{{ url_for('auth.personal') }}">{{ _("个人中心") }}</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">{{ _("退出登录 ") }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}" class="main-button">{{ _("登录/注册") }}</a></li>
                {% endif %}

            </ul>
        </nav><!-- navbar-->
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header>

<!-- ======= Message center ======= -->
<div class="container">
    <div class="view-container">
        <div class="message-header">
            <span class="title">消息中心</span>
            <span class="setting">消息设置</span>
        </div>
        <div class="message-center">
            <div class="left-menu">
                <div class="chat-list" id="chat-list">
                    {% for message in message_list %}
                        <div class="message-item" id="{{ message.session_id }}">
                            <div><img class="headimg" src="{{ url_for('static',filename="icon/customer.png") }}"></div>
                            <div class="msg-main">
                                <div class="justify-content-between d-flex">
                                    <span class="msg-name">{{ message.session_id[0:8] }}</span>
                                    <span class="msg-time ">{{ message.create_time|Msgformat }}</span>
                                </div>
                                <div class="msg">{{ message.content }}</div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="message-item">
                        <div><img class="headimg" src="{{ url_for('static',filename="icon/customer.png") }}"></div>
                        <div class="msg-main">
                            <div class="justify-content-between d-flex">
                                <span class="msg-name">互动通知</span>
                                <span class="msg-time ">昨天</span>
                            </div>
                            <p class="msg">马费炉里的本生灯收藏了你的博客</p>
                        </div>
                    </div>
                    <div class="message-item">
                        <div><img class="headimg" src="{{ url_for('static',filename="icon/customer.png") }}"></div>
                        <div class="msg-main">
                            <div class="justify-content-between d-flex">
                                <span class="msg-name">互动通知</span>
                                <span class="msg-time ">昨天</span>
                            </div>
                            <p class="msg">马费炉里的本生灯收藏了你的博客</p>
                        </div>
                    </div>
                </div>
                <div class="blankview" style="display: none;">暂无联系人哦</div>
            </div>
            <div class="right-content">
                <div class="message-content" id="MessageContent">
                    <div class="blank_list">您还未选中或者发起聊天，快去跟好友聊一聊吧</div>
                </div>
                <div class="message-status"></div>
                <div class="message-input">
                    <div class="message-emoji" id="emoji-toggle">
                        <div class="message-emoji-img">
                            <img class="emoji-img" src="{{ url_for('static', filename='icon/emoji.png') }}">
                        </div>
                        <div class="message-emoji-content" id="emoji-content"><span
                                class="message-emoji-Item">😁</span><span
                                class="message-emoji-Item">😂</span><span
                                class="message-emoji-Item">😃</span><span class="message-emoji-Item">😄</span><span
                                class="message-emoji-Item">😅</span><span class="message-emoji-Item">😆</span><span
                                class="message-emoji-Item">😉</span><span class="message-emoji-Item">😊</span><span
                                class="message-emoji-Item">😋</span><span class="message-emoji-Item">😌</span><span
                                class="message-emoji-Item">😍</span><span class="message-emoji-Item">😏</span><span
                                class="message-emoji-Item">😒</span><span class="message-emoji-Item">😓</span><span
                                class="message-emoji-Item">😔</span><span class="message-emoji-Item">😖</span><span
                                class="message-emoji-Item">😘</span><span class="message-emoji-Item">😚</span><span
                                class="message-emoji-Item">😜</span><span class="message-emoji-Item">😝</span><span
                                class="message-emoji-Item">😞</span><span class="message-emoji-Item">😠</span><span
                                class="message-emoji-Item">😡</span><span class="message-emoji-Item">😢</span><span
                                class="message-emoji-Item">😭</span><span class="message-emoji-Item">😫</span><span
                                class="message-emoji-Item">😪</span><span class="message-emoji-Item">😩</span><span
                                class="message-emoji-Item">😨</span><span class="message-emoji-Item">😥</span><span
                                class="message-emoji-Item">😤</span><span class="message-emoji-Item">😣</span></div>
                    </div>
                    <textarea id="MessageInput" class="message-textarea" placeholder="点击输入内容..."
                              maxlength="255"></textarea>
                    <div class="message-send">
                        <button id="sendBtn" class=" message-send-default sendBtn">发送</button>
                        <div class="message-text-popver">不能发送空白消息</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ======= Footer ======= -->
<footer id="footer" class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="logo-widget footer-widget">
                        <h1 class="footer-logo"><i><span>Bioimage</span>望飞宇<span>.</span></i></h1>
                        <div class="text">
                            <p>{{ _("望飞宇是一家致力于为生物科学研究及医学行业提供普惠的人工智能软件平台。我们提供胞体定位、神经元追踪、血管分析、图像配准、全脑数据一体化处理软件定制开发等服务。") }}</p>
                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-1 footer-column">
                    <div class="service-widget footer-widget">
                        <div class="footer-title">{{ _("服务") }}</div>
                        <ul class="list">
                            <li><a href="#">{{ ("大数据分析") }}</a></li>
                            <li><a href="#">{{ _("产品下载") }}</a></li>
                            {#                            <li><a href="#">Cloud Services</a></li>#}
                            {#                            <li><a href="#">Domain adn Hosting</a></li>#}
                            {#                            <li><a href="#">Seo Optimization</a></li>#}
                            {#                            <li><a href="#">Social Media</a></li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="contact-widget footer-widget">
                        <div class="footer-title">{{ _("联系方式") }}</div>
                        <div class="text">
                            <p><a href="{{ url_for('contact.index') }}">{{ _("商务合作:") }}</a></p>
                            <p>{{ _("全廷伟:") }}<a
                                    href="mailto:{{ _("quantingwei@hust.edu.cn") }}">{{ _("quantingwei@hust.edu.cn") }}</a>
                            </p>
                            <p>{{ _("郭沙沙:") }}<a
                                    href="mailto:{{ _("wfy@wfywh.com") }}">{{ _("wfy@wfywh.com") }}</a>
                            </p>
                            <p>{{ _("公司地址:武汉市东湖新技术开发区关东工业园 3-3号4楼418号") }}</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 column">
                <div class="copyright">Copyright &copy; 2024.{{ _("望飞宇(武汉)科技有限公司 备案号：" ) }}</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 column">
                <ul class="footer-nav">
                    <li><a href="#">{{ ("用户条款") }}</a></li>
                    <li><a href="#">{{ ("隐私政策") }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ======= Back to Top ======= -->
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

{#<!-- Vendor JS Files -->#}
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/aos.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/validator.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/contactform.js') }}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
<!-- Socket.io -->
<script src="{{ url_for('static', filename = 'js/addition.js') }}"></script>
{#<script>initializeSocket('http://127.0.0.1:5000/agent')</script>#}
<script>
    var socket; // 用于跟踪当前的 WebSocket 连接
            $('.message-item').on('click', function () {
            // 获取当前点击的 div 元素的 id
            var sessionId = $(this).attr("id");

            // 动态获取当前主机名和端口号
            var host = window.location.hostname;
            var port = window.location.port;  // 获取当前端口号，假设 WebSocket 服务器在同一端口// 如果没有端口，|| 5000 默认使用5000
            var socketUrl = `ws://${host}:${port}/agent?sessionId=${sessionId}`;
            console.log(socketUrl);
            // 关闭现有的 WebSocket 连接
            if (socket) {
                socket.disconnect();
            }

            // 清除现有的 chatbox 内容
            clearChatbox();

            // 调用 initializeSocket 函数，传入完整的 URL
            initializeSocket(socketUrl);
        });

    function initializeSocket(socketUrl) {

    function clearChatbox() {
        // 清除 chatbox 的内容，可以根据 chatbox 的 ID 或 class 选择器来清除内容
        document.getElementById('MessageContent').innerHTML = '';
    }
</script>

<!-- Google tag (gtag.js) -->
<script async="" src="#"></script>

<!-- Google Analytics -->
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-ZZZ4193J2X');
</script>

</body>

</html>